<h4 *ngIf= "show">SKU ESB History</h4>
<div *ngIf= "show" class="mat-elevation-z8" matSort matSortActive="time" matSortDirection="desc" matSortDisableClear>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sku}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="atsqty">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.atsqty}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.time}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<h4 *ngIf= "showError && show" class="error-message">There was no data found for the desired input. Please check your input and try again.</h4>
<h4 *ngIf= "historyError && show" class="no-history-message"><i>There was no history found for the desired input.</i></h4>
