<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
<mat-radio-group class="code-radio-group" formControlName="selectedSearchMode" (change)="setMode()" >
  <mat-radio-button class="code-radio-button" *ngFor="let value of searchMode " [value]="value" >
    {{value}}
  </mat-radio-button>
</mat-radio-group>
<mat-form-field class="search-form-field" >
  <input matInput formControlName="locationInput" id="storeInput" placeholder="Store Number">
</mat-form-field>
<br>
<mat-form-field class="search-form-field" >
  <input  matInput formControlName="searchInput" id="search-bar" (keyup.enter)="onSubmit()" placeholder="Enter an eCode, Style, SKU, or UPC">
</mat-form-field>
<mat-radio-group class="code-radio-group" formControlName="selectedCode">
  <mat-radio-button class="code-radio-button" *ngFor="let code of codes" [value]="code">
    {{code}}
  </mat-radio-button>
</mat-radio-group>

<button type="submit" mat-raised-button id="search-button" >Search</button>
</form>




