<div *ngIf= "show">
<h3>Network Level SKU Inventory Sync History</h3>
<button mat-raised-button class="export-button" (click)="export()" color="accent">Export</button>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.SKU}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Available Quantity </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.AvailableQuantity}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="inventoryStatus">
      <mat-header-cell *matHeaderCellDef> Inventory Status </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.InventoryStatus}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Time}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
