<div *ngIf="spinner" class="spinner center">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
    <h4>Your data will come, it just may take a while. Good things come to those who wait.</h4>
  </div>
<div *ngIf="!spinner">
<h3>Product Info</h3>
<button mat-raised-button class="export-button" (click)="export()" color="accent">Export</button>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="realDataSource" matSort (scroll)="onTableScroll($event)">
    <ng-container matColumnDef="ecode">
      <mat-header-cell *matHeaderCellDef > eCode </mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/info/eCode/{{row.ecode}}">{{row.ecode}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="style">
      <mat-header-cell *matHeaderCellDef > Style </mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/info/Style/{{row.style}}">{{row.style}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef > SKU </mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/info/SKU/{{row.sku}}">{{row.sku}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="upc">
      <mat-header-cell *matHeaderCellDef > UPC </mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/info/UPC/{{row.upc}}">{{row.upc}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="supc">
      <mat-header-cell *matHeaderCellDef > Alternate UPC </mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/info/UPC/{{row.supc}}">{{row.supc}}</a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef > Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="presale">
      <mat-header-cell *matHeaderCellDef>
        <mat-form-field id="presale-field">
          <mat-select placeholder="Presale" [(ngModel)]="presale">
              <mat-option (click)="applyFilter('presale', presale)">Any</mat-option>
            <mat-option (click)="applyFilter('presale', presale)" *ngFor="let option of booleanOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.presale}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="presaleEndDate">
      <mat-header-cell *matHeaderCellDef > Presale End Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.presaleEndDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hotMarket">
      <mat-header-cell *matHeaderCellDef> 
        <mat-form-field id="hotMarket-field">
          <mat-select placeholder="Hot Market" [(ngModel)]="hotmarket">
              <mat-option (click)="applyFilter('hotMarket', hotmarket)">Any</mat-option>
              <mat-option (click)="applyFilter('hotMarket', hotmarket)" *ngFor="let option of booleanOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.hotMarket}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hotMarketEndDate">
      <mat-header-cell *matHeaderCellDef > Hot Market End Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.hotMarketEndDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="specialOrder">
      <mat-header-cell *matHeaderCellDef> 
          <mat-form-field id="specialOrder-field">
              <mat-select placeholder="Special Order" [(ngModel)]="specialOrder">
                  <mat-option (click)="applyFilter('specialOrder', specialOrder)">Any</mat-option>
                  <mat-option (click)="applyFilter('specialOrder', specialOrder)" *ngFor="let option of booleanOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
           </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.specialOrder}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vdceligible">
      <mat-header-cell *matHeaderCellDef> 
          <mat-form-field id="vdceligible-field">
              <mat-select placeholder="VDC Eligbible" [(ngModel)]="vdcEligible">
                <mat-option (click)="applyFilter('vdceligible', vdcEligible)">Any</mat-option>
                <mat-option (click)="applyFilter('vdceligible', vdcEligible)" *ngFor="let option of yesNoOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </mat-form-field>
           </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.vdceligible}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</div>
