<h3 *ngIf= "show">Product Info</h3>
<div *ngIf= "show" class="mat-elevation-z8 " matSort matSortActive="eCode" matSortDirection="desc" matSortDisableClear id="table">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ecode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> eCode </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ecode}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="style">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Style </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.style}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef mat-sort-header> SKU </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sku}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="upc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UPC </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.upc}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="supc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Secondary/Alternate UPC </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.supc}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="presale">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Presale </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.presale}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="presaleEndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Presale End Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.presaleEndDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hotMarket">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hot Market Item </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.hotMarket}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hotMarketEndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hot Market End Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.hotMarketEndDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="specialOrder">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Special Order </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.specialOrder}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vdceligible">
      <mat-header-cell *matHeaderCellDef mat-sort-header> VDC Eligible </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.vdceligible}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<h4 *ngIf= "showError && show" class="error-message">There was no data found for the desired input. Please check your input and try again.</h4>
