.mat-row, .mat-header-row {
    min-width: 1855px;
    width: 100%;
    margin-left: 100x;
}

.mat-column-ecode {
    flex: 0 0 250px;
}
.mat-column-style {
    flex: 0 0 150px;
}
.mat-column-sku {
    flex: 0 0 100px;
}
.mat-column-upc {
    flex: 0 0 150px;
}

#presale-field {
    width: 70px;
}

#hotMarket-field {
    width: 90px;
}

#specialOrder-field {
    width: 110px;
}

#vdceligible-field {
    width: 110px;
}

.mat-column-description {
    overflow-x: scroll;
    flex: 0 0 250px;
}

.mat-column-presale {
    flex: 0 0 100px;
    margin-left: 15px;
}
.mat-column-hotMarket {
    flex: 0 0 120px;
}

.mat-elevation-z8 {
    display: flex;
    overflow-x: auto;
    
}

.mat-table {
    overflow-y:auto;
    max-height: 500px;
}

div.mat-elevation-z8::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
div.mat-elevation-z8::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.25);
    -box-shadow: 0 0 1px rgba(255,255,255,.25);

  }

.error-message {
    color: red;
}
h3 {
    display: inline-flex;
    flex-direction: row;
}

.spinner{
    display: table;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

a:link{
    color: black;
  }
  a:visited{
    color:black;
  }
  a:hover{
    color: #ffc425;
    text-decoration: underline;
  }
  a:focus{
    color:black;
  }
  a:active{
    color:black;
  }